env_dir_path: 'path/to/env'
env_file_name: 'config.env'

bq_table_config_dirpath: 'path\to\config\directory'
bq_table_config_filename: 'bq_table_config.json'

runtime_table_ids_filepath: 'path\to\runtime_queries.json'

bq_details:
  bq_project_id: 'your-project-id-123'
  #bq_dataset_id: 'yourdatasetid'